<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="index.css">
    <title>Home</title>
</head>
<body>
    <header class="header">
        <div class="user-info">
            <% if user_signed_in? %>
                <div class="dropdown">
                    <i class="fas fa-user dropdown-button"></i>
                    <div id="dropdownContent" class="dropdown-content">
                        <p><%= current_user.email %></p>
                        <a href="#">Perfil</a>
                        <a href="#">Gravar</a>
                        <button id="darkModeToggle" class="dark-mode-toggle">Alterar Modo</button>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="search-bar">
            <input type="text"  id="search-bar" placeholder="Pesquisar...">
            <button id="search-button">Buscar</button>
        </div>
        <nav class="nav-links">
            <ul>
                 <li><a href="#">Seja membro</a></li>
                <li><a href="#">Jogos</a></li>
                <li><a href="#">Lives</a></li>
            </ul>
        </nav>

         <!-- Renderizar os shorts do youtube -->
    <h1>Seja bem-vindo a  Sreamtech</h1>

<h2>YouTube Shorts</h2>

<ul id="shorts-list">
  <% @shorts.each do |short| %>
    <li>
      <iframe src="https://www.youtube.com/embed/<%= short.id.video_id %>" frameborder="0" allowfullscreen></iframe>
    </li>
  <% end %>
</ul>
    </header>


   

































    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const dropdownContent = document.getElementById('dropdownContent');
            let isDropdownOpen = false;

            document.querySelector('.dropdown-button').addEventListener('click', function() {
                isDropdownOpen = !isDropdownOpen;
                if (isDropdownOpen) {
                    dropdownContent.style.display = 'block';
                } else {
                    dropdownContent.style.display = 'none';
                }
            });

            window.addEventListener('click', function(event) {
                if (!event.target.matches('.dropdown-button')) {
                    if (isDropdownOpen) {
                        dropdownContent.style.display = 'none';
                        isDropdownOpen = false;
                    }
                }
            });

            const darkModeToggle = document.getElementById('darkModeToggle');
            const body = document.body;

            darkModeToggle.addEventListener('click', function() {
                body.classList.toggle('dark-mode');
            });
        });


  

    </script>
</body>
</html>
